header {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 200;
    background-color: var(--color-grey-01);
}

.header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 150px;
}

.section_01 {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-white-01);
    background-color: var(--color-blue-02);
}

.section_01_texts {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_01_texts p {
    font-size: 5vw;
    color: var(--color-white-01);
}

.section_01_video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
}

video {
    width: 600px;
}

.section_01_video_texts {
    font-size: 3vw;
    color: var(--color-grey-02);
    margin-left: 1.5rem;
}

.section_02 {
    height: 100vh;
    background: url(./assets/Earth.png), #000;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid var(--color-white-01);
}

.section_02_texts {
    margin-top: 3rem;
}

.section_02_texts p {
    font-size: 3vw;
    color: var(--color-white-01);
}

.section_apple-case {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    background-color: var(--color-blue-02);
}

.section_apple__case_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_apple-case_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    color: var(--color-white-01);
    margin-top: 3rem;
}

#section_apple-case_font {
    font-size: 2.5vw;
    margin-bottom: 1rem;
    align-self: flex-end;
}

.section_apple-case_video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_apple-case_video span {
    font-size: 1.2vw;
    color: var(--color-grey-02);
    margin: 1rem 0 3rem;
}

.section_03 {
    height: 100%;
    background-color: var(--color-white-01);
}

.section_03_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_03 h3 {
    font-size: 3vw;
    color: var(--color-grey-01);
    margin: 4rem;
    border-bottom: 4px solid #993DFF;
}

.section_03 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
}

/* .section_03 ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.section_03_image {
    height: 394px;
    overflow: hidden;
}

.section_03_image:not(.section_03_first-image) {
    width: 662px;
}

.section_03_image:hover img {
    transform: scale(1.2);
}

.section_03 li img {
    transition: 0.5s ease-in-out;
}

.section_03_flex-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* section 04 */

.section_04 {
    height: 100%;
    background-color: var(--color-white-01);
}

.section_04_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_04 h3 {
    font-size: 3vw;
    color: var(--color-grey-01);
    margin: 4rem;
    border-bottom: 4px solid #993DFF;
}

.section_04 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
}

/* .section_03 ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.section_04_image {
    height: 327px;
    overflow: hidden;
}

.section_04_image {
    width: 658px;
}

.section_04_image:hover img {
    transform: scale(1.2);
}

.section_04 li img {
    transition: 0.5s ease-in-out;
}

.section_04_flex-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Section 05 */

.section_05 {
    width: 100%;
    height: 100%;
    background-color: var(--color-grey-01);
    /* background: url(./assets/NATURE-NEON-03.jpg); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_05_title {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-02);
}

.section_05_container {
    width: 60.875rem;
    height: auto;
    border: 1px solid var(--color-blue-02);
    border-radius: 30px;
    box-shadow: 0 0 15px var(--color-blue-02), inset 0 0 15px var(--color-blue-02);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    margin: 100px;
}

.section_05_title h3 {
    font-size: 3vw;
    color: var(--color-white-01);
}

.section_05 form {
    display: flex;
    flex-direction: column;
    padding: 50px 84px;
}

.section_05 form legend {
    align-self: center;
    font-size: 3vw;
    color: var(--color-white-01);
    margin-bottom: 20px;
}

.section_05 form p {
    font-size: 1.5vw;
    color: var(--color-white-01);
    margin-bottom: 20px;
}

.section_05 form label {
    color: var(--color-white-01);
    margin-bottom: 15px;
}

.section_05 form input {
    height: 3.125rem;
    color: var(--color-grey-02);
    border: 1px solid var(--color-blue-02);
    border-radius: 15px;
    box-shadow: 0 0 8px var(--color-blue-02), inset 0 0 8px var(--color-blue-02);
    background: transparent;
    margin-bottom: 15px;
    padding: 0px 10px;
    display: flex;
}

.section_05 form input:focus {
    box-shadow: 0 0 8px var(--color-white-01), inset 0 0 8px var(--color-white-01);
}

.section_05 form textarea {
    height: 12.5rem;
    color: var(--color-grey-02);
    border: 1px solid var(--color-blue-02);
    border-radius: 15px;
    box-shadow: 0 0 8px var(--color-blue-02), inset 0 0 8px var(--color-blue-02);
    background: transparent;
    margin-bottom: 15px;
    padding: 10px;
}

.section_05 form textarea:focus {
    box-shadow: 0 0 8px var(--color-white-01), inset 0 0 8px var(--color-white-01);
}

.section_05_btn-send-email {
    width: 13.875rem;
    height: 70px;
    color: var(--color-white-01);
    font-size: 2.5vw;
    background: linear-gradient(0deg, rgba(81, 71, 246, 1) 43%, rgba(120, 74, 246, 1) 70%);
    border: 2px solid var(--color-white-01);
    border-radius: 15px;
    margin-top: 10px;
    transition: all 0.5s linear;
    cursor: pointer;
    align-self: center;
}

.section_05_btn-send-email:hover {
    background: linear-gradient(0deg, rgba(120, 74, 246, 1) 43%, rgba(81, 71, 246, 1) 70%);
    border: 4px solid var(--color-white-01);
    font-size: 3vw;
}


/* text-shadow: 0 0 15px cor; */

footer {
    width: 100%;
    height: 9.375rem;
    background-color: var(--color-grey-01);
}

.footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: var(--color-white-01);
    font-family: var(--font-family-04);
    font-weight: var(--font-weight-00);
}

.footer_social-medias {
    display: flex;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    /* border: 4px solid var(--color-blue-01); */
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

footer a:not(:last-of-type) {
    margin-right: 4vw;
}

footer a:hover {
    border: 4px solid var(--color-blue-01);
    /* animation: teste 0.5s infinite; */
}

@keyframes teste {
    0% {
        border: 4px solid transparent;
        border-radius: 50%;
    }

    100% {
        border: 4px solid var(--color-blue-01);
        border-radius: 50%;
    }
}

@media (max-width: 550px) {
    .section_01 {
        height: 100vh;
    }

    .section_01_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section_01_texts p {
        font-size: 7vw;
    }

    .section_01_video_texts {
        font-size: 6vw;
    }

    .section_02_texts p {
        font-size: 6vw;
    }

    video {
        width: 100%;
        max-width: 300px;
    }

    .section_02_texts {
        margin-top: -10.4375rem;
    }

    .section_02_rocket {
        position: relative;
    }

    .section_02_rocket img {
        position: absolute;
        left: -170px;
    }

    .section_apple-case {
        height: 100vh;
    }

    .section_apple__case_container {
        height: 100%;
    }

    .section_apple-case_texts {
        text-align: center;
    }

    .section_apple-case_texts p {
        font-size: 6vw;
    }

    #section_apple-case_font {
        font-size: 5vw;
    }

    .section_apple-case_video span {
        font-size: 3vw;
    }

    .section_03 {
        padding-bottom: 0;
    }

    .section_03 h3 {
        font-size: 10vw;
        margin: 3rem;
    }

    .section_03_flex-image {
        flex-direction: column;
    }

    .section_03_image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .section_03 li {
        height: auto !important;
    }

    .section_03_other-image img {
        padding: 5px;
        object-fit: contain;
        height: 250px;
        width: 100%;
    }

    .section_03_first-image {
        height: 250px;
    }

    .section_03_first-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section_03 ul li:first-of-type {
        height: auto;
    }

    /* section 04 */

    .section_04 h3 {
        font-size: 10vw;
        margin: 3rem;
    }

    .section_04_flex-image {
        flex-direction: column;
    }

    .section_04_image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .section_04 li {
        height: auto !important;
    }

    .section_04_other-image img {
        padding: 5px;
        object-fit: contain;
        height: 190px;
        width: 100%;
    }

    .section_04 ul li:first-of-type {
        height: auto;
    }

    .section_05_container {
        width: 24.5rem;
        margin: 30px;
    }

    .section_05_title h3 {
        font-size: 6vw;
    }

    .section_05 form {
        padding: 30px 60px;
    }

    .section_05 form p {
        font-size: 4vw;
    }
}

@media (max-width: 783px) {
    .section_01_video {
        flex-direction: column;
    }

    .footer_logo {
        display: none;
    }
}

@media (max-width: 1181px) {
    .section_03 ul {
        justify-content: center;
        align-items: center;
    }

    .section_03 ul li {
        flex-grow: 2;
    }

    .section_04 ul {
        justify-content: center;
        align-items: center;
    }

    .section_04 ul li {
        flex-grow: 2;
    }
}